.visually-hidden {
  position: absolute !important;
  clip: rect(1px 1px 1px 1px);
  clip: rect(1px, 1px, 1px, 1px);
  padding: 0 !important;
  border: 0 !important;
  height: 1px;
  width: 1px !important;
  overflow: hidden;
}

body {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  color: #212121;
  margin: 0;
}

h1,
h2,
h3,
h4 {
  margin: 0;
  padding: 0;
}

figure {
  padding: 0;
  margin: 0;
}

ul,
ol {
  margin: 0;
  padding: 0;
}

p {
  margin: 0;
  padding: 0;
}

img {
  display: block;
  height: auto;
}

address {
  line-height: 1.71em;
}

input:focus,
textarea:focus {
  outline: none;
}

.container {
  min-width: 320px;
  max-width: 1200px;
  margin: 0 auto;
  width: 100%;
  padding: 0 15px;
}

.section {
  padding-top: 60px;
  padding-bottom: 60px;
}

@media screen and (min-width: 1200px) {
  .section {
    padding-top: 94px;
    padding-bottom: 94px;
  }
}
.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.2);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  transition-property: opacity, transform;
  transition-duration: 250ms;
  transition-timing-function: ease-in-out;
  transform: scale(100%);
  opacity: 100%;
}

.is-hidden {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}

.modal-form__submit {
  display: flex;
  align-items: center;
  justify-content: center;
  background: #2196F3;
  color: #FFFFFF;
  height: 50px;
  width: 200px;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.06em;
  border-radius: 4px;
  border: none;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-property: opacity;
  position: relative;
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: calc(100vw - 30px);
  max-width: 450px;
  min-height: 609px;
  background-color: #fff;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
}
.modal__btn {
  position: absolute;
  background-color: #fff;
  cursor: pointer;
  top: 8px;
  right: 8px;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;
  width: 30px;
  height: 30px;
  z-index: 1000;
}
.modal__close-btn {
  transform: translateX(-8px);
  width: 30px;
  height: 30px;
  z-index: 1000;
}

.modal__checkbox {
  position: absolute;
  justify-content: center;
  top: 437px;
  background: var(--main-color);
  border: 1px solid var(--main-color);
  background-color: transparent;
  cursor: pointer;
}

.modal-form {
  text-align: left;
  margin-left: 40px;
  margin-right: 40px;
  position: relative;
}
.modal-form__text {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 1.5;
  text-align: center;
  letter-spacing: 0.03em;
  margin-top: 40px;
  margin-bottom: 12px;
  padding-left: 40px;
  padding-right: 40px;
}
.modal-form__icon {
  position: absolute;
  top: 38px;
  left: 12px;
  max-width: 18px;
  max-height: 18px;
}
.modal-form__input {
  display: block;
  margin-top: 4px;
  padding: 12px;
  padding-left: 42px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  width: 100%;
  height: 40px;
  font-size: 14px;
  line-height: 24px;
  letter-spacing: 0.03em;
  color: #757575;
  transition: var(--transition);
  transition-property: border, fill;
}
.modal-form__input:focus-within {
  border: 1px solid var(--brand-main-color);
}
.modal-form__textarea {
  margin-top: 4px;
  padding: 12px 16px 12px 16px;
  resize: none;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  width: 100%;
  color: #757575;
  transition: var(--transition);
  transition-property: border;
}
.modal-form__textarea:focus {
  border: 1px solid var(--brand-main-color);
}
.modal-form__label {
  display: block;
  margin-top: 10px;
  font-size: 12px;
  line-height: 14px;
  letter-spacing: 0.01em;
  color: #757575;
  transition: var(--transition);
  transition-property: border, fill;
}
.modal-form__label:focus-within {
  fill: var(--brand-main-color);
}
.modal-form__label--text {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 14px;
  letter-spacing: 0.03em;
}
.modal-form__button {
  display: flex;
  justify-content: center;
  margin: 0 auto;
  margin-top: 20px;
}

.modal-form::placeholder {
  color: rgba(117, 117, 117, 0.5);
  font-size: 12px;
  line-height: 1.16;
}

.modal__checkbox--text::before {
  display: inline-block;
  content: "";
  width: 16px;
  height: 16px;
  margin-top: 10px;
  margin-right: 4px;
  border: 1px solid #000;
  transition: all 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal__checkbox:checked + .modal__checkbox--text::before {
  background-color: #2196f3;
  border: none;
  background-image: url(../images/Vector.svg);
  border: 3px solid var(--main-color);
}

.modal-form__input:focus-visible,
.modal-form__textarea:focus-visible {
  outline: none;
  border: 1px solid #2196f3;
}

.modal-form input:focus-within {
  border-color: #2196f3;
}
.modal-form label:focus-within {
  fill: #2196F3;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-form__label:focus-within svg {
  fill: #2196f3;
}

input:focus-within {
  border-color: #2196f3;
}

.label-link__color {
  color: #2196f3;
}

@media screen and (max-width: 768px) {
  .modal {
    width: 100%;
  }
}
@media screen and (min-width: 1200px) {
  .modal {
    max-width: 528px;
  }
}
@media screen and (min-width: 768px) and (max-width: 1199px) {
  .modal {
    max-width: 450px;
  }
}
.logo {
  padding-top: 24px;
  padding-bottom: 24px;
  text-decoration: none;
}
.logo__text {
  font-family: "Raleway";
  font-weight: 700;
  font-size: 26px;
  line-height: 1, 19;
  letter-spacing: 0, 3em;
  text-decoration: none;
  margin-top: 0px;
  margin-bottom: 0px;
}
.logo__text--blue {
  color: #2196f3;
}
.logo__text--black {
  color: #212121;
}
.logo__text--white {
  color: var(--main-color);
}

.navigation {
  display: flex;
  flex-direction: column;
  list-style: none;
}
.navigation__item {
  font-size: 14px;
  font-weight: 500;
  line-height: 16px;
  letter-spacing: 0.02em;
  color: var(--text-main-color);
}
.navigation__item--right {
  margin-right: 46px;
}
.navigation__item--hidden {
  display: none;
  visibility: hidden;
}
.navigation__link {
  position: relative;
  transition: var(--transition);
  transition-property: color;
  text-decoration: none;
}
.navigation__link--active, .navigation__link:active, .navigation__link:focus, .navigation__link:hover {
  color: var(--brand-main-color);
}
.navigation__link--active::after {
  content: "";
  font-size: 14px;
  font-weight: 500;
  line-height: 16px;
  letter-spacing: 0.02em;
  border-top: 4px solid var(--brand-main-color);
  border-radius: 2px;
  width: 100%;
  top: 46px;
  left: 0;
  display: block;
  position: absolute;
}
.navigation__hamburger-button {
  background: none;
  color: inherit;
  border: none;
  padding: 0;
  font: inherit;
  cursor: pointer;
  outline: inherit;
  width: 40px;
  height: 40px;
}
.navigation__hamburger-menu {
  fill: rgb(33, 33, 33);
  cursor: pointer;
  transition: var(--transition);
  transition-property: fill;
}
.navigation__hamburger-menu:active, .navigation__hamburger-menu:focus, .navigation__hamburger-menu:hover {
  fill: var(--brand-main-color);
}

.button {
  background-color: transparent;
  color: black;
  font-size: 16px;
  font-weight: 500;
  border: none;
  text-align: center;
  cursor: pointer;
  border-radius: 4px;
  line-height: 1.875em;
  letter-spacing: 0.06em;
}

@media screen and (min-width: 768px) and (max-width: 1200px) {
  .menu-toggle {
    display: none;
  }

  .navigation {
    flex-direction: row;
  }
  .navigation--left {
    margin-left: 83px;
    list-style: none;
  }
  .navigation__item--hidden {
    display: block;
    visibility: visible;
  }
  .navigation__item--right {
    margin-right: 60px;
  }
}
@media screen and (min-width: 1200px) {
  .menu-toggle {
    display: none;
  }

  .navigation {
    flex-direction: row;
    margin-top: 0px;
    margin-bottom: 0px;
  }
  .navigation--left {
    margin-left: 90px;
  }
  .navigation__item--hidden {
    display: block;
    visibility: visible;
  }
  .navigation__item--right {
    margin-right: 46px;
  }
}
.mobile-contact {
  font-size: 34px;
  font-weight: 500;
  line-height: 1.176em;
  letter-spacing: 0.02em;
  color: #212121;
  list-style: none;
}
.mobile-contact__item--bottom {
  margin-bottom: 32px;
}
.mobile-contact__phone {
  color: var(--brand-main-color);
  text-decoration: none;
}
.mobile-contact__mail {
  font-size: 24px;
  line-height: 1.166em;
  color: rgb(117, 117, 117);
  text-decoration: none;
}
.mobile-contact--top {
  margin-top: 302px;
}

.mobile-menu {
  font-size: 40px;
  font-weight: 500;
  line-height: 1.172em;
  letter-spacing: 0.02em;
  color: rgb(33, 33, 33);
  list-style: none;
}
.mobile-menu__item--bottom {
  padding-bottom: 32px;
}
.mobile-menu__link {
  text-decoration: none;
  color: #212121;
}
.mobile-menu__link--active-page {
  color: #2196f3;
}

.mobile-social {
  display: flex;
  font-size: 18px;
  font-weight: 500;
  line-height: 1.222em;
  letter-spacing: 0.02em;
  list-style: none;
}
.mobile-social--top {
  margin-top: 64px;
}
.mobile-social__link {
  text-decoration: none;
  color: #2196f3;
}
.mobile-social--space {
  padding: 0 10px 0 10px;
  color: rgba(33, 33, 33, 0.2);
}

.galery__buttons {
  display: flex;
  padding-bottom: 0px;
  padding-top: 94px;
  flex-wrap: wrap;
  list-style: none;
  justify-content: center;
}

.galery__button {
  background-color: #F5F4FA;
  border-radius: 4px;
  font-weight: 500;
  font-size: 16px;
  border-style: none;
  font-family: inherit;
  cursor: pointer;
  line-height: 1.6;
  letter-spacing: 0.03em;
  padding: 6px 22px;
  margin-bottom: 15px;
  margin-left: 15px;
}
.galery__button:not(last-child) {
  margin-right: 8px;
}
.galery__button:focus, .galery__button:hover {
  background-color: #2196f3;
  color: #fff;
  cursor: pointer;
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .galery__buttons {
    display: flex;
    justify-content: center;
    padding-bottom: 0px;
    padding-top: 94px;
    list-style: none;
  }

  .galery__button {
    background-color: #F5F4FA;
    border-radius: 4px;
    font-weight: 500;
    font-size: 16px;
    border-style: none;
    font-family: inherit;
    cursor: pointer;
    line-height: 1.6;
    letter-spacing: 0.03em;
    padding: 6px 22px;
  }
  .galery__button:not(last-child) {
    margin-right: 8px;
  }
  .galery__button:focus, .galery__button:hover {
    background-color: #2196f3;
    color: #fff;
    cursor: pointer;
    box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
  }
}
@media screen and (min-width: 1200px) {
  .galery__buttons {
    display: flex;
    justify-content: center;
    list-style: none;
    margin: 90px 0px 50px 0px;
  }

  .galery__button {
    background-color: #F5F4FA;
    color: #212121;
    font-size: 16px;
    font-weight: 500;
    border: none;
    padding: 6px 22px;
    text-align: center;
    cursor: pointer;
    background: #F5F4FA;
    border-radius: 4px;
    line-height: 1.6;
    margin-right: 8px;
    transition: all 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  .galery__button:hover {
    background-color: #2196f3;
    color: white;
    background: #2196f3;
    box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
    border-radius: 4px;
    cursor: pointer;
  }
  .galery__button:not(:last-child) {
    margin-right: 8px;
  }
}
.social__list {
  display: flex;
  text-decoration: none;
  justify-content: space-between;
  align-content: center;
  list-style: none;
  margin-right: 32px;
  margin-bottom: 30px;
}

.social__item {
  display: flex;
  width: 44px;
  height: 44px;
  background-color: rgb(255, 250, 250);
  border-radius: 50%;
  justify-content: center;
  align-items: center;
  transition: all 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.social__item:hover svg, .social__item:focus svg {
  fill: var(--main-color);
  background: #2196f3;
}
.social__item:hover {
  background: #2196f3;
  background-color: #2196f3;
}

.social__icons {
  fill: #AFB1B8;
  width: 20px;
  height: 20px;
}
.social__icons:hover {
  fill: var(--main-color);
}

.footer-social {
  margin-top: 60px;
  margin-bottom: 46px;
  width: calc(100vw - 30px);
}
.footer-social__text {
  margin-bottom: 20px;
  text-align: center;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #fff;
}
.footer-social__item {
  display: flex;
  justify-content: center;
  width: 44px;
  height: 44px;
  background-color: rgba(255, 255, 255, 0.1);
  border-radius: 50%;
  justify-content: center;
  align-items: center;
  transition: all 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.footer-social__item:hover svg, .footer-social__item:focus svg {
  fill: var(--main-color);
  background: #2196f3;
}
.footer-social__item:hover {
  background: #2196f3;
  background-color: #2196f3;
}
.footer-social__list {
  text-align: center;
  list-style: none;
  display: inline-flex;
  justify-content: center;
}
.footer-social__icons {
  fill: #fff;
  width: 20px;
  height: 20px;
}
.footer-social__icons:hover {
  fill: var(--main-color);
}

.mobile {
  display: flex;
  justify-content: center;
}

@media screen and (min-width: 1200px) {
  .footer-social {
    width: 206px;
    margin-top: 14px;
    margin-left: 70px;
    display: block;
  }
  .footer-social__text {
    display: flex;
    justify-items: center;
    font-weight: 700;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: var(--main-color);
    padding-left: 0px;
    transform: translate(250px, -160px);
  }
  .footer-social__item {
    display: flex;
    width: 44px;
    height: 44px;
    background: rgba(255, 255, 255, 0.1);
    border-radius: 50%;
    justify-content: center;
    align-items: center;
    transition: all 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  .footer-social__item:hover {
    background-color: #2196f3;
  }

  .footer-social__list {
    display: flex;
    justify-content: space-between;
    padding-right: 10px;
    text-decoration: none;
    align-content: center;
    list-style: none;
    gap: 10px;
    transform: translate(250px, -160px);
  }

  .footer-social__icons {
    width: 20px;
    height: 20px;
    fill: var(--main-color);
    transition: all 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  .footer-social__icons:hover {
    background-color: #2196f3;
  }
}
@media screen and (min-width: 768px) and (max-width: 1199px) {
  .footer-social {
    width: calc(50vw - 30px);
    margin-top: 0;
    margin-bottom: 60px;
  }
  .footer-social__list {
    transform: translate(500px, -150px);
  }
  .footer-social__text {
    transform: translate(350px, -150px);
  }

  .mobile {
    justify-content: left;
  }
}
.heading__title {
  font-weight: 900;
  font-size: 44px;
  line-height: 1, 36;
  text-align: center;
  padding-top: 200px;
  padding-bottom: 40px;
  color: var(--main-color);
}

.section__title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1, 17;
  text-align: center;
  padding-bottom: 30px;
}

.lorem-ipsum__title {
  color: #212121;
  font-weight: 700;
  text-transform: uppercase;
  display: block;
  margin-bottom: 10px;
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .lorem-ipsum__title {
    color: #212121;
    font-weight: 700;
    text-transform: uppercase;
    display: block;
    margin-bottom: 10px;
    max-width: 450px;
    margin: 0 auto;
  }
}
.header {
  border-bottom: 1px solid #ececec;
  display: flex;
  min-height: 60px;
}
.header__container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

@media (min-width: 768px) {
  .header {
    min-height: 80px;
  }
  .header__container {
    justify-content: normal;
  }
}
.contact {
  visibility: hidden;
  display: none;
  position: absolute;
  right: 15px;
  list-style: none;
}
.contact--left {
  margin-left: 200px;
  list-style: none;
}
.contact__item {
  display: flex;
  align-items: center;
  list-style: none;
}
.contact__item--right {
  margin-right: 30px;
}
.contact__link {
  font-size: 14px;
  font-weight: 500;
  line-height: 1.17em;
  letter-spacing: 0.02em;
  color: var(--text-link-color);
  fill: var(--text-link-color);
  display: flex;
  align-items: center;
  transition: var(--transition);
  transition-property: color, fill;
  text-decoration: none;
  list-style: none;
}
.contact__link:active, .contact__link:focus, .contact__link:hover {
  color: var(--brand-main-color);
  fill: var(--brand-main-color);
}
.contact__icon {
  margin-right: 10px;
  cursor: pointer;
  fill: currentColor;
}

@media screen and (min-width: 768px) and (max-width: 1999px) {
  .contact {
    visibility: visible;
    display: block;
  }
  .contact__item--top {
    margin-top: 10px;
  }
  .contact__link {
    font-size: 14px;
    line-height: 1.171em;
  }
}
@media screen and (min-width: 1200px) {
  .contact {
    visibility: visible;
    display: flex;
    align-items: flex-end;
    position: static;
  }
  .contact__link {
    font-size: 16px;
  }
}
.heading {
  background: #2f303a;
  background-color: rgb(47, 48, 58);
  background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("../images/mobile/Hero.mobile@1x.png");
  background-size: cover;
  min-height: 400px;
  max-width: 100%;
  background-repeat: no-repeat;
  background-position: center;
}
.heading__container {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-position: center;
}
.heading__tittle {
  font-size: 26px;
  font-weight: 900;
  line-height: 1.615em;
  letter-spacing: 0.06em;
  text-align: center;
  color: var(--main-color);
  width: 365px;
}
.heading__tittle--bottom {
  margin-bottom: 40px;
}
.heading__button {
  background-color: #2196f3;
  font-size: 16px;
  font-weight: 500;
  display: block;
  margin: auto;
  border: none;
  padding: 6px 22px;
  text-align: center;
  cursor: pointer;
  background: #2196f3;
  border-radius: 4px;
  line-height: 1.6;
  transition: all 250ms cubic-bezier(0.4, 0, 0.2, 1);
  color: var(--main-color);
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .heading {
    min-height: 400px;
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("../images/tablet/hero/Header img.png");
  }
}
@media screen and (min-width: 1200px) {
  .heading {
    min-height: 600px;
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("../images/Img.jpg");
  }
  .heading__tittle {
    font-size: 44px;
    line-height: 1.363em;
    width: 696px;
  }
}
@media screen and (-webkit-min-device-pixel-ratio: 2), screen and (min-resolution: 192dpi), screen and (min-resolution: 2dppx) {
  .hero {
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/mobile/Hero.mobile@2x.png);
  }
}
@media screen and (min-width: 768px) and (max-width: 1199px) and (-webkit-min-device-pixel-ratio: 2), screen and (min-width: 768px) and (max-width: 1199px) and (min-resolution: 192dpi), screen and (min-width: 768px) and (max-width: 1199px) and (min-resolution: 2dppx) {
  .hero {
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../../images/tablet/hero/Header\ img@2x.png);
  }
}
.lorem-ipsum {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  align-items: center;
  text-align: left;
}
.lorem-ipsum__item {
  width: calc(100% - 30px);
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
  letter-spacing: 0.03em;
  list-style-type: none;
  color: #757575;
  margin-bottom: 30px;
}
.lorem-ipsum__icon {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 30px;
  padding: 25px 100px 25px 100px;
  width: 100%;
  height: 120px;
  background-color: #f5f4fa;
  border-radius: 4px;
  list-style-type: none;
}
.lorem-ipsum__title {
  text-align: center;
  margin-bottom: 10px;
  font-weight: 700;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #212121;
}

@media screen and (min-width: 1200px) {
  .section {
    padding-bottom: 0px;
  }

  .lorem-ipsum__item {
    width: 270px;
    max-height: 251px;
    margin-left: 15px;
    margin-right: 15px;
  }
  .lorem-ipsum__item:nth-child(4n+1) {
    margin-left: 0;
  }
  .lorem-ipsum__item:nth-child(4n+4) {
    margin-right: 0;
  }
  .lorem-ipsum__icon {
    max-width: 270px;
    height: 120px;
    margin-left: 15px;
    margin-right: 15px;
    margin-bottom: 30px;
  }
  .lorem-ipsum__icon:nth-child(4n+1) {
    margin-left: 0;
  }
  .lorem-ipsum__icon:nth-child(4n+4) {
    margin-right: 0;
  }
  .lorem-ipsum__title {
    text-align: left;
    margin-bottom: 10px;
    font-weight: 700;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #212121;
  }
}
@media screen and (min-width: 768px) and (max-width: 1199px) {
  .lorem-ipsum__item {
    width: calc(50% - 30px);
    max-height: 251px;
    margin-left: 15px;
    margin-right: 15px;
  }
}
@media screen and (max-width: 1199px) {
  .services {
    display: none;
  }
}
@media screen and (min-width: 1200px) {
  .img__list {
    display: flex;
    justify-content: space-between;
    list-style: none;
    flex-wrap: wrap;
    list-style: none;
    padding-left: 0px;
    margin: 0px;
  }

  .img__item {
    position: relative;
    overflow: hidden;
    margin-top: 50px;
  }

  .img__description {
    position: absolute;
    top: 224px;
    left: 0;
    padding-top: 14px;
    padding-bottom: 16px;
    width: 100%;
    height: 70px;
    background-color: rgba(47, 48, 58, 0.8);
  }
  .img__description--text {
    font-family: "Roboto";
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 16px;
    text-align: center;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #fff;
  }
}
.section__team {
  background: #F5F4FA;
  margin: 0, -15;
}

.team__human {
  padding-top: 30px;
  padding-bottom: 10px;
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--text-main-color);
}
.team__list {
  display: flex;
  align-items: center;
  list-style: none;
  flex-direction: column;
  flex-wrap: wrap;
}
.team__item {
  width: calc(100vw - 30px);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 30px;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  text-align: center;
  letter-spacing: 0.03em;
  color: #757575;
  background-color: #fff;
}

@media screen and (min-width: 1200px) {
  .team__list {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
  }
  .team__item {
    width: 270px;
    margin-left: 15px;
    margin-right: 15px;
  }
  .team__item:first-child {
    margin-left: 0;
  }
  .team__item:last-child {
    margin-right: 0;
  }
}
@media screen and (min-width: 768px) and (max-width: 1199px) {
  .team__list {
    flex-direction: row;
  }
  .team__item {
    width: calc(50% - 30px);
    margin-left: 15px;
    margin-right: 15px;
  }
}
.link:hover {
  color: #2196f3;
}

:root {
  --brand-main-color: #2196f3;
  --main-color:#fff;
  --brand-third-color: #2f303a;
  --background-first-color: #f5f4fa;
  --text-main-color: #212121;
  --text-link-color: #757575;
  --vector-team-color: #afb1b8;
  --main-font: "Roboto", "Raleway", sans-serif;
  --transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.client__list {
  list-style: none;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  align-content: center;
  cursor: pointer;
}

.client__item {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 30px;
  width: calc(50vw - 30px);
  height: 92px;
  fill: #afb1b8;
  border: 1px solid #afb1b8;
  border-radius: 4px;
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition-property: border-color;
}
.client__item:hover svg {
  fill: #2196f3;
}
.client__item:hover {
  border-color: #2196f3;
}
.client__item--margin-bottom {
  margin-bottom: 0px;
}
.client__item --grey {
  fill: #afb1b8;
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition-property: fill;
}
.client__item --grey:hover {
  fill: #2196f3;
}

@media screen and (min-width: 1200px) {
  .client__list {
    flex-wrap: nowrap;
  }

  .client__item {
    width: 170px;
  }
}
@media screen and (min-width: 768px) and (max-width: 1199px) {
  .client__list {
    justify-content: space-evenly;
  }

  .client__item {
    width: calc(33vw - 30px);
  }
  .client__item--margin-bottom {
    margin-bottom: 30px;
  }
}
.portfolio-section {
  padding-top: 0px;
}

.galery__item {
  background-color: #fff;
  border: 1px solid #eee;
  margin-bottom: 30px;
  list-style: none;
  position: relative;
  max-width: 370px;
  max-height: 404px;
  overflow: hidden;
}
.galery__item:hover {
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
  cursor: pointer;
}

.galery__image {
  max-width: 100%;
}

.galery-box {
  border: 1px solid #ECECEC;
  border-top: none;
  width: 100%;
}
.galery-box__title {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  padding-top: 20px;
  padding-left: 24px;
}
.galery-box__title--gray {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.03em;
  margin-top: 4px;
  margin-bottom: 20px;
  padding-left: 24px;
  color: grey;
}

.galery__list {
  display: flex;
  flex-wrap: wrap;
  padding-top: 56px;
  flex-direction: column;
  align-items: center;
  list-style: none;
}

.box {
  position: relative;
  overflow: hidden;
}
.box:hover .box__overlay {
  transform: translateY(0);
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.box__overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
  background-color: rgba(33, 150, 243, 0.9);
  transform: translatey(100%);
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-property: top, left, width, height, background-color, transform;
}
.box__overlay--text {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 1.6;
  letter-spacing: 0.03em;
  color: #FFFFFF;
  margin-top: 49px;
  margin-right: 45px;
  margin-bottom: 49px;
  margin-left: 24px;
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .galery__list {
    display: flex;
    flex-wrap: wrap;
    padding-top: 0;
    flex-direction: row;
    margin: 0 auto;
    justify-content: space-around;
    max-width: 768px;
  }

  .galery__item {
    width: calc(50vw - 30px);
  }
}
@media screen and (min-width: 1200px) {
  .galery__list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding-top: 56px;
    flex-direction: row;
  }

  .galery__item {
    width: 370px;
  }
}
.menu-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: var(--main-color);
  z-index: 999;
  padding: 48px 40px 48px 40px;
  transform: translateX(100%);
  transition: var(--transition);
}
.menu-container.is-open {
  transform: translateX(0);
}
.menu-container__close-btn {
  margin-left: auto;
  margin-right: 0;
  min-height: 40px;
  min-width: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: transparent;
  cursor: pointer;
  border: none;
  border-radius: 50%;
  outline: none;
}
.menu-container__close-btn--icon {
  fill: #000;
}
.menu-container__close-btn--icon:active, .menu-container__close-btn--icon:hover, .menu-container__close-btn--icon:focus {
  fill: #2196f3;
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .menu-container {
    display: none;
    visibility: hidden;
  }
}
@media screen and (min-width: 1200px) {
  .menu-container {
    display: none;
    visibility: hidden;
  }
}
.footer {
  padding-top: 60px;
  padding-bottom: 60px;
  background-color: #2f303a;
}
.footer__logo {
  text-decoration: none;
}

.contener__footer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.footer-contact {
  width: calc(100vw - 30px);
}

.footer-address {
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
  letter-spacing: 0.03em;
  list-style: none;
  text-decoration: none;
}
.footer-address__item {
  text-align: center;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
  letter-spacing: 0.03em;
  padding-bottom: 9px;
}
.footer-address__text {
  text-align: center;
  color: rgba(255, 255, 255, 0.6);
  text-decoration: none;
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition-property: color, background-color, box-shadow;
}
.footer-address__text--color {
  color: var(--main-color);
  text-align: center;
}

.footer-logo__text {
  text-align: center;
  font-family: "Raleway";
  font-weight: 700;
  font-size: 26px;
  line-height: 1, 19;
  letter-spacing: 0, 3em;
  text-decoration: none;
  margin-top: 60px;
  margin-bottom: 0px;
  padding-bottom: 20px;
  list-style: none;
}

.newsletter {
  text-align: center;
  margin-top: 14px;
  width: calc(100vw - 30px);
}
.newsletter__text {
  margin: 0;
  padding: 0;
  text-align: center;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--main-color);
}
.newsletter__box {
  margin-top: 20px;
}
.newsletter__btn {
  display: flex;
  justify-content: center;
  align-items: center;
}
.newsletter__icon {
  position: absolute;
  width: 24px;
  height: 24px;
  margin-left: 64px;
  margin-top: 3px;
}
.newsletter__input {
  width: 100%;
  height: 50px;
  padding: 15px;
  padding-left: 16px;
  margin-bottom: 20px;
  background-color: #2f303a;
  border: 1px solid rgba(255, 255, 255, 0.3);
  color: #2196f3;
  border-radius: 4px;
}

.button__footer {
  width: 200px;
  height: 50px;
  background: #2196F3;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  border: none;
  color: var(--main-color);
  padding-left: 0px;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 30px;
  outline: none;
}

@media screen and (min-width: 1200px) {
  .container__footer {
    align-items: flex-start;
    justify-content: space-between;
    height: 252px;
  }

  .footer-contact {
    width: 270px;
  }

  .footer-logo__text {
    text-align: left;
  }

  .footer-address {
    text-align: left;
  }

  .footer-address__item {
    text-align: left;
  }

  .newsletter {
    text-align: left;
    margin-left: auto;
    max-width: 570px;
    transform: translateY(-280px);
  }
  .newsletter__text {
    margin: 0;
    padding: 0;
    text-align: left;
  }
  .newsletter__box {
    display: inline-flex;
    justify-content: center;
    align-content: center;
  }
  .newsletter__icon {
    position: absolute;
    width: 24px;
    height: 24px;
    margin-left: 64px;
    margin-top: 3px;
    right: 20px;
  }
  .newsletter__input {
    width: 358px;
    height: 50px;
    margin-right: 12px;
  }
}
@media screen and (min-width: 768px) and (max-width: 1199px) {
  .container__footer {
    align-items: flex-start;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
  }

  .footer-contact {
    width: calc(50vw - 30px);
  }

  .newsletter {
    width: calc(50vw - 30px);
    padding-bottom: 60px;
  }
  .newsletter__box {
    flex-direction: column;
    transform: translateX(50%);
  }
  .newsletter__input {
    width: 100%;
  }
  .newsletter__text {
    transform: translateX(50%);
  }
  .newsletter__icon {
    width: 24px;
    height: 24px;
    margin-left: 110px;
    margin-top: 3px;
  }
}/*# sourceMappingURL=main.css.map */