.visually-hidden {
  position: absolute !important;
  clip: rect(1px 1px 1px 1px);
  clip: rect(1px, 1px, 1px, 1px);
  padding: 0 !important;
  border: 0 !important;
  height: 1px;
  width: 1px !important;
  overflow: hidden;
}

body {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  color: #212121;
  margin: 0;
}

a {
  text-decoration: none;
  list-style: none;
  fill: currentColor;
}

h1,
h2,
h3,
h4 {
  margin: 0;
}

p {
  padding: 0;
}

figure {
  padding: 0;
  margin: 0;
}

.container {
  width: 1200px;
  margin: 0 auto;
  list-style: none;
}
.container-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 80px;
}
.container__button {
  display: flex;
  justify-content: center;
  list-style: none;
  margin: 0px;
}

.section {
  padding-top: 94px;
  padding-bottom: 94px;
}

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.2);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  transition-property: opacity, transform;
  transition-duration: 250ms;
  transition-timing-function: ease-in-out;
  transform: scale(100%);
  opacity: 100%;
}

.is-hidden {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}

.modal-form__submit {
  margin-left: 164px;
  margin-right: 164px;
  width: 200px;
  height: 50px;
  margin-top: 124px;
  background: #2196F3;
  border: none;
  border-radius: 4px;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 30px;
  letter-spacing: 0.06em;
  color: var(--main-color);
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 528px;
  min-height: 581px;
  transform: translate(-50%, -50%);
  background-color: var(--main-color);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
}
.modal__close-btn {
  position: absolute;
  top: 8px;
  right: 8px;
  width: 30px;
  height: 30px;
  background: var(--main-color);
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;
  background-color: transparent;
  cursor: pointer;
}
.modal__close-btn2 {
  position: absolute;
  top: 437px;
  background: var(--main-color);
  border: 1px solid var(--main-color);
  background-color: transparent;
  cursor: pointer;
}

.modal-form {
  display: flex;
  width: 100%;
  flex-direction: column;
}
.modal-form__policy--text::before {
  display: inline-block;
  content: "";
  width: 16px;
  height: 16px;
  margin-top: 0px;
  margin-right: 4px;
  border: 1px solid #000;
  transition: all 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal-form__policy:checked + .modal-form__policy--text::before {
  background-color: #2196f3;
  border: none;
  background-image: url(../images/Vector.svg);
  border: 3px solid var(--main-color);
}
.modal-form__group input:focus-within {
  border-color: #2196f3;
}
.modal-form__group label:focus-within {
  fill: #2196F3;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.modal-form__text {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 23px;
  text-align: center;
  letter-spacing: 0.03em;
  color: #212121;
}
.modal-form__name {
  position: absolute;
  left: 55px;
  top: 68px;
}
.modal-form__phone {
  position: absolute;
  left: 55px;
  top: 128px;
}
.modal-form__email {
  position: absolute;
  left: 53px;
  top: 186px;
}
.modal-form__place {
  display: block;
  margin-left: 40px;
  padding-left: 40px;
  width: 448px;
  height: 40px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
}
.modal-form__contact {
  display: block;
  width: 448px;
  margin-left: 40px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
}
.modal-form__contact:focus-within {
  border-color: #2196f3;
}
.modal-form__label {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 14px;
  letter-spacing: 0.01em;
  color: #757575;
  margin-left: 40px;
}

input:focus,
textarea:focus {
  outline: none;
}

input:focus-within {
  border-color: #2196f3;
}

.logo {
  padding-top: 24px;
  padding-bottom: 24px;
}
.logo__text {
  font-family: "Raleway";
  font-weight: 700;
  font-size: 26px;
  line-height: 1, 19;
  letter-spacing: 0, 3em;
  text-decoration: none;
  margin-top: 0px;
  margin-bottom: 0px;
}
.logo__text--color1 {
  color: #2196f3;
}
.logo__text--color2 {
  color: #212121;
}
.logo__text--color3 {
  color: var(--main-color);
}

.navigation {
  display: flex;
  list-style: none;
  align-items: center;
  margin-top: 0px;
  margin-bottom: 0px;
}
.navigation,
.navigation .navigation__item :focus {
  color: #2196f3;
}
.navigation,
.navigation .navigation__item :hover {
  color: #2196f3;
}

.navigation__item {
  margin-left: 23px;
  align-items: center;
  justify-content: space-between;
}
.navigation__item--active::after {
  content: "";
  display: block;
  position: relative;
  border-top: 4px solid #2196f3;
  border-radius: 2px;
  top: 29px;
  margin-top: -4px;
}
.navigation__item--active2 {
  fill: #757575;
  color: #757575;
  transition: all 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.navigation__item--active2:hover {
  cursor: pointer;
  fill: #2196f3;
  color: #2196f3;
}

.heading__button {
  background-color: #2196f3;
  font-size: 16px;
  font-weight: 500;
  display: block;
  margin: auto;
  border: none;
  padding: 6px 22px;
  text-align: center;
  cursor: pointer;
  background: #2196f3;
  border-radius: 4px;
  line-height: 1.6;
  transition: all 250ms cubic-bezier(0.4, 0, 0.2, 1);
  color: var(--main-color);
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
}

.button1 {
  background-color: #F5F4FA;
  color: #212121;
  font-size: 16px;
  font-weight: 500;
  border: none;
  padding: 6px 22px;
  text-align: center;
  cursor: pointer;
  background: #F5F4FA;
  border-radius: 4px;
  line-height: 1.6;
  margin-right: 8px;
  transition: all 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.button1:hover {
  background-color: #2196f3;
  color: white;
  background: #2196f3;
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
  border-radius: 4px;
  cursor: pointer;
}
.button1:not(:last-child) {
  margin-right: 8px;
}

.social__list {
  display: flex;
  text-decoration: none;
  justify-content: space-between;
  align-content: center;
  list-style: none;
  margin-right: 32px;
  margin-bottom: 30px;
}

.social__item {
  display: flex;
  width: 44px;
  height: 44px;
  background-color: rgb(255, 250, 250);
  border-radius: 50%;
  justify-content: center;
  align-items: center;
  transition: all 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.social__item:hover svg, .social__item:focus svg {
  fill: var(--main-color);
  background: #2196f3;
}
.social__item--active:hover {
  background: #2196f3;
  background-color: #2196f3;
}

.social__icons {
  fill: #AFB1B8;
  width: 20px;
  height: 20px;
}
.social__icons:hover {
  fill: var(--main-color);
}

.footer-social {
  padding-top: 72px;
}
.footer-social__text {
  display: flex;
  justify-items: center;
  font-weight: 700;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--main-color);
  padding-left: 100px;
}
.footer-social__list {
  display: flex;
  justify-content: space-between;
  padding-right: 10px;
  text-decoration: none;
  align-content: center;
  list-style: none;
  gap: 10px;
  padding-left: 100px;
}
.footer-social__item {
  display: flex;
  width: 44px;
  height: 44px;
  background: rgba(255, 255, 255, 0.1);
  border-radius: 50%;
  justify-content: center;
  align-items: center;
  transition: all 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.footer-social__item:hover {
  background-color: #2196f3;
}
.footer-social__icons {
  width: 20px;
  height: 20px;
  fill: var(--main-color);
  transition: all 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.footer-social__icons:hover {
  background-color: #2196f3;
}

.title1 {
  font-weight: 900;
  font-size: 44px;
  line-height: 1, 36;
  text-align: center;
  padding-top: 200px;
  padding-bottom: 40px;
  color: var(--main-color);
}

.title2 {
  font-weight: 700;
  font-size: 36px;
  line-height: 1, 17;
  text-align: center;
}

.title3 {
  font-weight: 700;
  font-size: 14px;
  line-height: 1, 14;
  letter-spacing: 0, 3em;
  color: #212121;
}

.header {
  border-bottom: 1px solid #ECECEC;
}

.heading {
  background: #2f303a;
  height: 600px;
  background-color: rgb(47, 48, 58);
  background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/Img.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-size: 1600px;
}

.lorem-ipsum {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}
.lorem-ipsum__icon {
  padding-top: 20px;
  padding-left: 20px;
  width: 270px;
  height: 120px;
  background-color: #F5F4FA;
  border-radius: 4px;
}
.lorem-ipsum__text {
  font-size: 14px;
  width: 260px;
  line-height: 1, 71;
  letter-spacing: 0, 3em;
  color: #757575;
}

.img__list {
  display: flex;
  justify-content: space-between;
  list-style: none;
  flex-wrap: wrap;
  list-style: none;
  padding-left: 0px;
  margin: 0px;
}

.img__item {
  position: relative;
  overflow: hidden;
  margin-top: 50px;
}

.img__item2 {
  position: absolute;
  top: 224px;
  left: 0;
  padding-top: 14px;
  padding-bottom: 16px;
  width: 100%;
  height: 70px;
  background-color: rgba(47, 48, 58, 0.8);
}
.img__item2--text {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 16px;
  text-align: center;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #fff;
}

.team {
  background: #F5F4FA;
}
.team__human {
  font-weight: 500;
  font-size: 16px;
  line-height: 1, 19;
  text-align: center;
}
.team__human--color {
  font-size: 16px;
  line-height: 1, 19;
  text-align: center;
  color: #757575;
}
.team__list {
  display: flex;
  justify-content: space-between;
  list-style: none;
  flex-wrap: wrap;
  list-style: none;
  padding-left: 0px;
  margin: 0px;
}
.team__item {
  margin-right: 15px;
  margin-left: 15px;
  padding: 0px;
  background: var(--main-color);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}

.link:hover {
  color: #2196f3;
}

:root {
  --main-color:#fff;
}

.client__list {
  list-style: none;
  display: flex;
  justify-content: space-between;
  align-content: center;
  cursor: pointer;
}

.client__item {
  fill: #AFB1B8;
  cursor: pointer;
}
.client__item--active {
  width: 170px;
  height: 92px;
  border: 1px solid #AFB1B8;
  border-radius: 4px;
  fill: #AFB1B8;
  cursor: pointer;
  transition: all 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.client__item--active:hover {
  fill: #2196f3;
  border: 1px solid #2196f3;
}

.img__item3 {
  background: var(--main-color);
  border: 1px solid #EEEEEE;
  justify-content: space-between;
  padding: 0px;
  margin-top: 0px;
  margin-left: 0px;
  margin-bottom: 30px;
  margin-right: 0px;
  margin-left: 0px;
  transition: all 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.img__item3:hover {
  background: var(--main-color);
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
  border: 1px solid #EEEEEE;
  cursor: pointer;
}

.box2 {
  position: relative;
  border: 1px solid #ececec;
  border-top: none;
}
.box2__text {
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  padding-left: 24px;
  padding-right: 24px;
}
.box2__text--color {
  font-size: 16px;
  line-height: 1, 88;
  color: #757575;
  padding-left: 24px;
  padding-right: 24px;
}

.box {
  position: relative;
  overflow: hidden;
}
.box:hover .box__overlay {
  transform: translateY(0);
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.box__overlay {
  position: absolute;
  top: 1px;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(33, 150, 243, 0.9);
  transform: translateY(100%);
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.box__overlay--text {
  font-family: "Roboto";
  font-size: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 1.6;
  letter-spacing: 0.03em;
  color: var(--main-color);
  margin-top: 49px;
  margin-bottom: 49px;
  margin-right: 45px;
  margin-left: 24px;
}

.footer {
  background: #2f303a;
  height: 252px;
}
.footer__icon {
  display: flex;
}

.footer-adress {
  list-style: none;
  padding-left: 0px;
}
.footer-adress__text {
  font-style: normal;
  font-size: 14px;
  line-height: 1, 71;
  letter-spacing: 0, 3em;
  text-decoration: none;
  padding-bottom: 9px;
  color: rgba(255, 255, 255, 0.6);
}
.footer-adress__text--color {
  color: var(--main-color);
}

.footer-logo__text {
  font-family: "Raleway";
  font-weight: 700;
  font-size: 26px;
  line-height: 1, 19;
  letter-spacing: 0, 3em;
  text-decoration: none;
  margin-top: 60px;
  margin-bottom: 0px;
  padding-bottom: 20px;
  list-style: none;
}

.newsletter {
  display: flex;
  justify-content: flex-end;
  margin-top: -150px;
}
.newsletter__list {
  display: inline;
}
.newsletter__item--text {
  color: var(--main-color);
  font-weight: 700;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  padding-bottom: 10px;
}
.newsletter__btn {
  width: 200px;
  height: 50px;
  background: #2196F3;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  border: none;
  color: var(--main-color);
  padding-left: 0px;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 30px;
  outline: none;
}
.newsletter__icon {
  position: absolute;
  width: 24px;
  height: 24px;
  margin-left: 20px;
  margin-top: 4px;
}
.newsletter__input {
  width: 358px;
  height: 50px;
  left: 815px;
  top: 2787px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
  background: transparent;
  margin-right: 12px;
}
.newsletter__input:hover {
  border: 1px solid #2196f3;
}/*# sourceMappingURL=main.css.map */