.page-footer {
    padding-top: 60px;
    padding-bottom: 60px;
    background-color: #2f303a;
    &__container {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
}
.contact {
    width: calc(100vw - 30px);
    &__logo {
        text-align: center;
    }
    &__address {
        text-align: center;
        padding-top: 20px;
        color: var(--main-color);
        text-decoration: none;
        font-style: normal;
        list-style: none;
        padding-bottom: 9px;
    }
}
.footer-contact {
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
    letter-spacing: 0.03em;
    list-style: none;
    text-decoration: none;

    &__item {
        text-align: center;
        font-family: "Roboto";
        font-style: normal;
        font-weight: 400;
        font-size: 14px;
        line-height: 24px;
        letter-spacing: 0.03em;

        padding-bottom: 9px;
    }
    &__link {
        text-align: center;
        color: rgba(255, 255, 255, 0.6);
        text-decoration: none;
        transition: var(--transition);
        transition-property: color, background-color, box-shadow;
    }
}


    
.newsletter-form {
    text-align: center;
    margin-top: 14px;
    width: calc(100vw - 30px);
    padding-left:  15px;
    padding-right: 15px;
    margin: 0;

    &__tittle {
        margin: 0;
        padding: 0;
        text-align: center;
        font-family: "Roboto";
        font-style: normal;
        font-weight: 700;
        font-size: 14px;
        letter-spacing: 0.03em;
        text-transform: uppercase;
        color: #fff;
    }

    &__box {
        margin-top: 20px;
    }
    &__input {
      
        padding: 15px;
        padding-left: 16px;
        margin-bottom: 20px;

        background-color: #2f303a;
        border: 1px solid rgba(255, 255, 255, 0.3);
        color: #fff;
        border-radius: 4px;
    }
    &__button {
        display: flex;
        justify-content: center;
        align-items: center;
    }
    &__icon {
        margin-left: 24px;
    }
}
.button {
    width: 200px;
    height: 50px;
    background: var(--brand-main-color);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    border: 0px;
    cursor: pointer;
  
    &__label {
      font-family: "Roboto";
      font-style: normal;
      font-weight: 700;
      font-size: 16px;
      line-height: 30px;
      letter-spacing: 0.06em;
      color: #fff;
    }
  }

@media screen and (min-width: 1200px) {
    //desktop
    .page-footer {

        &__container {
            
            align-items: flex-start;
            flex-direction: row;
            justify-content: space-between;
        }
    }
    .newsletter-form {
        text-align: right;
       
        max-width: 570px;

        &__tittle {
            margin: 0;
            padding: 0;
          
        }
        &__box {
            display: inline-flex;
           
          
        }
        &__input {
            max-width: 358px;
            width: calc(100vw - 30px);
            margin-right: 12px;
        }
    }
    .contact {
        width: 247px;
        &__logo {
            text-align: left;
        }
        &__address {
            text-align: left;
        }

        .footer-contact {
            &__item {
                text-align: left;
            }
        }
    }

    
        

    }    
       

@media screen and (min-width: 768px) and (max-width: 1199px) {
    // tablet
    .page-footer {

        &__container {
            
            align-items: flex-start;
            flex-direction: row;
            flex-wrap: wrap;
            justify-content: space-around;
        }
    }
    .contact {
        width: calc(50vw - 30px);
    }
    .newsletter-form {
        width: calc(100vw - 30px);
        margin-top: 60px;
    }
    
}
@media screen and (min-width: 320px) and (max-width: 767px) {
    // mobile
}