
.portfolio-section {
    padding-top: 0px;
}
.galery__item {
    background: var(--main-color);
    border: 1px solid #EEEEEE;
    justify-content: center;
  
        flex: 0 0 calc(100% - 30px);
        max-width: calc(100% - 30px);
    transition: all 250ms cubic-bezier(0.4, 0, 0.2, 1);
    &:hover {
        background: var(--main-color);
        box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
        border: 1px solid #EEEEEE;
        cursor: pointer;
    }
}


.galery-box {
    border: 1px solid #ECECEC;
    border-top: none;
    width: 100%;
    &__title {
        font-family: 'Roboto';
        font-style: normal;
        font-weight: 700;
        font-size: 18px;
        line-height: 2;
        letter-spacing: 0.06em;
        padding-top: 20px;
        padding-left: 24px;
        &--gray {
            font-family: 'Roboto';
            font-style: normal;
            font-weight: 400;
            font-size: 16px;
            line-height: 1.88;
            letter-spacing: 0.03em;
            margin-top: 4px;
            margin-bottom: 20px;
            padding-left: 24px;
            color: grey;
        }
    }
}    
.galery__list {
    display: flex;
    justify-content:center;
    list-style: none;
    flex-wrap: wrap;
    gap:10px;
    width: 100%;
    padding-left: 0px;
    margin: 0px;
}
.box {
    position:relative;
    overflow: hidden;
    &:hover .box__overlay {
        transform: translateY(0);
        transition-duration: 250ms;
        transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    }
    &__overlay {
        position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
    background-color: rgba(33, 150, 243, 0.9);
    transform: translatey(100%);
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    transition-property: top, left, width, height, background-color, transform;
        &--text {
             font-family: 'Roboto';
        font-style: normal;
        font-weight: 400;
        font-size: 18px;
        line-height: 1.6;
        letter-spacing: 0.03em;
        color: #FFFFFF;
        margin-top: 49px;
        margin-right: 45px;
        margin-bottom: 49px;
        margin-left: 24px;
            
        }
    }
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
    .galery__item {
        width: calc(50vw - 30px);
    }
    
}

@media screen and (min-width: 1200px) {
    .galery__item {
        width: 370px;
    }
    
}