.heading {
    background: #2f303a;
    height: 600px;
    background-color: rgba(47, 48, 58, 1);
    background-image: linear-gradient(
        rgba(47, 48, 58, 0.4),
        rgba(47, 48, 58, 0.4)), 
        url(../images/Img.jpg);
    background-size: cover;
    background-position: center ;
    background-repeat: no-repeat;
    background-size: 1600px;
}
