.mobile-social {
    display: flex;
    font-size: 18px;
    font-weight: 500;
    line-height: 1.222em;
    letter-spacing: 0.02em;
    list-style: none;
    flex-wrap: wrap;
  
    &--top {
      padding-top: 60px;
    }
  
    &__link {
    text-decoration: none;
      color: #2196f3;
    }
  
    &--space {
      padding: 0 10px 0 10px;
      color: rgba(33, 33, 33, 0.2);
    }
  }
  