.modal-form__submit {
    margin-left: 164px;
    margin-right: 164px;
    width: 200px;
    height: 50px;
    margin-top: 124px;
    background: #2196F3;
    border: none;
    border-radius: 4px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
     line-height: 30px;
     letter-spacing: 0.06em;
    color: var(--main-color);
}
