

.modal {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: calc(100vw - 30px);
    max-width: 450px;
    min-height: 609px;
    background-color: #fff;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 4px;
    &__btn {
        position: absolute;
        background-color: #fff;
        cursor: pointer;
        top: 8px;
        right: 8px;
        border: 1px solid rgba(0, 0, 0, 0.1);
        border-radius: 50%;
        width: 30px;
        height: 30px;
        z-index: 1000;
    
    }
    &__close-btn {
        transform:translateX(-8px);
        width: 30px;
        height: 30px;
        z-index: 1000;
      
    }
}  
.modal__checkbox {
    position: absolute;
    justify-content: center;
    top: 437px;
    background: var(--main-color);
    border: 1px solid var(--main-color);
    background-color: transparent;
    cursor: pointer;
}
.modal-form {
    text-align: left;
    margin-left: 40px;
    margin-right: 40px;
    position: relative;
    &__text {
        font-family: 'Roboto';
        font-style: normal;
        font-weight: 700;
        font-size: 20px;
        line-height: 1.5;
        text-align: center;
        letter-spacing: 0.03em;
        margin-top: 40px;
        margin-bottom: 12px;
        padding-left: 40px;
        padding-right: 40px;
    }
      
    &__icon {
        position: absolute;
        top: 38px;
        left: 12px;
        max-width: 18px;
        max-height: 18px;
    }
    &__input {
        display: block;
        margin-top: 4px;
        padding: 12px;
        padding-left: 42px;
        border: 1px solid rgba(33, 33, 33, 0.2);
        border-radius: 4px;
        width: 100%;
        height: 40px;
        
        font-size: 14px;
        line-height: 24px;
        letter-spacing: 0.03em;
        color: #757575;
        transition: var(--transition);
        transition-property: border, fill;

        &:focus-within {
            border: 1px solid var(--brand-main-color);
        }
    }    
    &__textarea {
        margin-top: 4px;
        padding: 12px 16px 12px 16px;
        resize: none;
        border: 1px solid rgba(33, 33, 33, 0.2);
        border-radius: 4px;
        width: 100%;

        color: #757575;
        transition: var(--transition);
        transition-property: border;

        &:focus {
            border: 1px solid var(--brand-main-color);
        }
    }
    &__label {
        display: block;
        margin-top: 10px;
        
        font-size: 12px;
        line-height: 14px;
        letter-spacing: 0.01em;
        color: #757575;
        transition: var(--transition);
        transition-property: border, fill;

        &:focus-within {
            fill: var(--brand-main-color);
        }
            &--text {
                font-family: "Roboto";
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 14px;
    letter-spacing: 0.03em;
            }
    }
    &__button {
        display: flex;
        justify-content: center;
        margin: 0 auto;
        margin-top: 20px;
        }
}
    

.modal-form::placeholder {
    color: rgba(117, 117, 117, 0.5);
    font-size: 12px;
    line-height: 1.16;
  }
.modal__checkbox--text::before {
    display: inline-block;
    content: "";
    width: 16px;
    height: 16px;
    margin-top: 10px;
    margin-right: 4px;
    border: 1px solid #000;
    transition: all 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal__checkbox:checked + .modal__checkbox--text::before {
        background-color: #2196f3;
        border: none;
        background-image: url(../images/Vector.svg);
        border: 3px solid var(--main-color);
}
.modal-form__input:focus-visible,
.modal-form__textarea:focus-visible {
  outline: none;
  border: 1px solid #2196f3;
}
.modal-form {
    & input:focus-within {
        border-color: #2196f3;
      }
    & label:focus-within {
        fill: #2196F3;
        transition-duration: 250ms;
        transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
      }
}
.modal-form__label:focus-within svg {
    fill: #2196f3;
  }

input:focus-within {
    border-color: #2196f3;
}
.label-link__color {
    color:#2196f3,
}
@media screen and (max-width: 768px) {
    .modal {
        width: 100%;
    }

}
@media screen and (min-width: 1200px) {
    //desktop
    .modal {
        max-width: 528px;
        
        
    }
}
@media screen and (min-width: 768px) and (max-width: 1199px) {
    // tablet
    .modal {
        max-width: 450px;
    }
}