.social__list {
    display: flex;
    text-decoration: none;
    justify-content: space-between;
    align-content: center;
    list-style: none;
    margin-right: 32px;
    margin-bottom: 30px; 
}
.social__item {
    display: flex;
    width: 44px;
    height: 44px;
    background-color: rgba(255, 250, 250, 1);
    border-radius: 50%;
    justify-content: center;
    align-items: center;
    transition: all 250ms cubic-bezier(0.4, 0, 0.2, 1);
    &:hover svg,
    &:focus svg {
        fill: var(--main-color);
        background: #2196f3;
    }
    &:hover {
            background: #2196f3;
            background-color: #2196f3;
        }   
}

.social__icons {
    fill: #AFB1B8;  
    width: 20px;
    height: 20px;
    &:hover {
        fill: var(--main-color);
    }
}
.footer-social {
    padding-top: 72px;
    &__text {
        display: flex;
        justify-items: center;
        font-weight: 700;
        font-size: 14px;
        line-height: 16px;
        letter-spacing: 0.03em;
        text-transform:uppercase;
        color: var(--main-color);
        padding-left: 100px;
      
    }
    &__list {
        display:flex;
        justify-content: space-between;
        padding-right: 10px;
        text-decoration: none;
        align-content: center;
        list-style: none;
        gap: 10px;
        padding-left: 100px;
    }
    &__item {
        display: flex;
        width: 44px;
        height: 44px;
        background: rgba(255, 255, 255, 0.1);
        border-radius: 50%;
        justify-content: center;
        align-items: center;
        transition: all 250ms cubic-bezier(0.4, 0, 0.2, 1);
        &:hover {
            background-color: #2196f3;
        }
    }
    &__icons {
        width: 20px;
        height: 20px;
        fill: var(--main-color);
        transition: all 250ms cubic-bezier(0.4, 0, 0.2, 1);
        &:hover {
            background-color: #2196f3;
        }
    }
}
