.heading__title {
    font-weight: 900;
    font-size: 44px;
    line-height: 1, 36;
    text-align: center;
    padding-top: 200px;
    padding-bottom: 40px;
    color: var(--main-color);
}
.section__title {
  
    font-weight: 700;
    font-size: 36px;
    line-height: 1, 17;
    text-align: center;
  
}

.lorem-ipsum__title {
    font-weight: 700;
    font-size: 14px;
    line-height: 1, 14;
    letter-spacing: 0, 03em;
    color: #212121;
}