.heading__title {
    font-weight: 900;
    font-size: 44px;
    line-height: 1, 36;
    text-align: center;
    padding-top: 200px;
    padding-bottom: 40px;
    color: var(--main-color);
}
.section__title {
  
    font-weight: 700;
    font-size: 36px;
    line-height: 1, 17;
    text-align: center;
    padding-bottom: 30px;
  
}

//Mobile style
.lorem-ipsum__title {
color: #212121;
font-weight: 700;
text-transform: uppercase;
display: block;
margin-bottom: 10px;

}
// Tablet styles

@media screen and (min-width: 768px) and (max-width: 1199px) {
.lorem-ipsum__title {
    color:#212121 ;
    font-weight: 700;
    text-transform: uppercase;
    display: block;
    margin-bottom: 10px;
    max-width: 450px;
     margin: 0 auto;
}
}
@media screen and (min-width: 1200px) {

}