.container {
    width: 1200px;
    margin: 0 auto;  
    list-style: none;
    &-header {
        display: flex;
        justify-content: space-between;
        align-items: center;
        height: 80px;
        
}
    &__button {
        display: flex;
        justify-content: center;
         list-style: none;
        margin: 0px;
}
}
.section {
    padding-top: 94px;
    padding-bottom: 94px;
   } 



